commands:
  create_laravel_logs_dir:
    command: "mkdir /var/log/httpd/laravel; chown webapp:webapp /var/log/httpd/laravel"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/httpd/laravel/*.log
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/httpd/laravel/*.log
      /var/log/httpd/laravel/*.gz
  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/httpd/laravel/*.gz
  "/opt/elasticbeanstalk/tasks/systemtaillogs.d/laravel.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/httpd/laravel/*.log
  "/etc/logrotate.d/laravel":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/httpd/laravel/*.log {
          daily
          rotate 30
          missingok
          notifempty
          compress
          copytruncate
      }
