# This currently only works, if we only have one single instance.
# For multi-instance a "leader_only" can cause problems e.g.
# when the leader dies and a new one gets elected, then
# no instance will run the crons until next deploy.

files:
  "/etc/crontab":
    mode: "000644"
    owner: root
    group: root
    content: |
      SHELL=/bin/bash
      PATH=/sbin:/bin:/usr/sbin:/usr/bin
      MAILTO=root
      HOME=/

      # For details see man 4 crontabs

      # Example of job definition:
      # .---------------- minute (0 - 59)
      # |  .------------- hour (0 - 23)
      # |  |  .---------- day of month (1 - 31)
      # |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
      # |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
      # |  |  |  |  |
      # *  *  *  *  * user-name command to be executed

      * * * * * webapp . /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run | grep -v "No scheduled commands are ready to run." >> /var/app/current/storage/logs/cron.log 2>&1


