files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/92_studi_disable_dns_in_ssh_daemon.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Disable DNS for SSH-Daemon for faster SSH login
      cp /etc/ssh/sshd_config.old /etc/ssh/sshd_config 2>/dev/null || cp /etc/ssh/sshd_config /etc/ssh/sshd_config.old
      echo "" >> /etc/ssh/sshd_config
      echo 'UseDNS no' >> /etc/ssh/sshd_config
      service sshd restart
