files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/96_migrate_database.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # Register Environment Variables
      . /opt/elasticbeanstalk/support/envvars

      # run DB migration commands
      cd /var/app/current
      php artisan migrate --force >> /var/app/current/storage/logs/deploy.log 2>&1
