files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/94_studi_setup_folders.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      # Link Laravel log folder to global logs directory
      rm -r /var/app/current/storage/logs || true
      ln -s /var/log/httpd/laravel /var/app/current/storage/logs
